<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jagdorganisation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Jagdorganisation.Properties.Settings>
            <setting name="HuntingGroups" serializeAs="String">
                <value>C6:D35</value>
            </setting>
            <setting name="DataSheet" serializeAs="String">
                <value>einteilung</value>
            </setting>
            <setting name="TemplateSheet" serializeAs="String">
                <value>standkarte</value>
            </setting>
            <setting name="SheetPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="NumberCell" serializeAs="String">
                <value>B15</value>
            </setting>
            <setting name="LeaderCell" serializeAs="String">
                <value>C15</value>
            </setting>
            <setting name="Leader" serializeAs="String">
                <value>E6:E35</value>
            </setting>
            <setting name="Shooters" serializeAs="String">
                <value>G6:G35</value>
            </setting>
            <setting name="Dogs" serializeAs="String">
                <value>I6:I35</value>
            </setting>
            <setting name="Reserves" serializeAs="String">
                <value>J6:J35</value>
            </setting>
            <setting name="NumberColumn" serializeAs="String">
                <value>A</value>
            </setting>
        </Jagdorganisation.Properties.Settings>
    </userSettings>
</configuration>